<form action='/driver/create' method='POST'>

  <div>
    <input type="text" placeholder="your name" name="firstName">
  </div>

  <div>
    <input type="text" placeholder="your last Name" name="lastName">
  </div>

  <div>
    <input type="text" placeholder="your email address" name="email">
  </div>


  <input type="submit" value="Create Driver"/>

</form>