<form action='/road/create' method='POST'>

  <div>
    <input type="text" placeholder="Name" name="routeName">
  </div>

  <div>
    <input type="text" placeholder="Route" name="route">
  </div>


  <input type="submit" value="Create Road"/>

</form>