<form action='/stop/create' method='POST'>

  <div>
    <input type="text" placeholder="id stop" name="Id">
  </div>

  <div>
    <input type="text" placeholder="Address" name="address">
  </div>

  <div>
    <input type="text" placeholder="name" name="name">
  </div>

  <div>
    <input type="text" placeholder="latitude" name="latitude">
  </div>

  <div>
    <input type="text" placeholder="longitude" name="longitude">
  </div>

  <div>
    <input type="text" placeholder="status" name="status">
  </div>


  <input type="submit" value="Create Stop"/>

</form>