<form action='/ticket/create' method='POST'>

  <div>
    <input type="text" placeholder="Id ticket" name="id">
  </div>

  <div>
    <input type="text" placeholder="Purchase date" name="pruchaseDate">
  </div>

  <div>
    <input type="text" placeholder="Expiration date" name="expirationDate">
  </div>

    <div>
    <input type="text" placeholder="Use date" name="useDate">
  </div>

    <div>
    <input type="text" placeholder="Date reservation" name="dateReservation">
  </div>


  <input type="submit" value="Create Ticket"/>

</form>