<form action='/user/create' method='POST'>

  <div>
    <input type="text" placeholder="your name" name="name">
  </div>

  <div>
    <input type="text" placeholder="your title" name="title">
  </div>

  <div>
    <input type="text" placeholder="your email address" name="email">
  </div>

  <div>
    <input type="text" placeholder="encryptedPassword" name="encryptedPassword">
  </div>

  <input type="submit" value="Create Account"/>

</form>