<form action='/bus/create' method="POST">
<p>
<label for="licensePlate">Placa de Bus: </label>
<input type="text" name="licensePlate" id="licensePlate">
<br/> <br/>
<label for="capacity">Capacidad: </label>
<input type="int" name="capacity" id="capacity">
<br/> <br/>
<label for="currentLatitude">Latitud: </label>
<input type="float" name="currentLatitude" id="currentLatitude">
<br/> <br/>
<label for="currentLongitude">Longitud: </label>
<input type="float" name="currentLongitude" id="currentLongitude">
<br/> <br/>
<label for="soldSeats">Puestos vendidos: </label>
<input type="int" name="soldSeats" id="soldSeats">
<br/> <br/>
<label for="color">Color: </label>
<input type="text" name="color" id="color">
<br/> <br/>
<label for="photo">Photo: </label>
<input type="text" name="photo" id="photo">
<br/> <br/>
<input type="submit" value="Enviar">
<input type="reset">
</p>
</form>